<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    android:targetSandboxVersion="2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowAudioPlaybackCapture="true"
        android:allowBackup="true"
        android:allowTaskReparenting="true"
        android:appCategory="game"
        android:backupAgent=".util.DataBackupAgent"
        android:banner="@mipmap/ic_banner"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:description="@string/app_description"
        android:fullBackupContent="@xml/backup_rules"
        android:fullBackupOnly="true"
        android:gwpAsanMode="always"
        android:hardwareAccelerated="true"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:logo="@mipmap/ic_launcher"
        android:manageSpaceActivity=".gui.ManageSpaceActivity"
        android:networkSecurityConfig="@xml/network_security_config"
        android:permission=""
        android:requiredAccountType=""
        android:resizeableActivity="true"
        android:restoreAnyVersion="false"
        android:restrictedAccountType=""
        android:supportsRtl="true"
        android:theme="@style/Theme.AircraftWar"
        android:uiOptions="none"
        android:usesCleartextTraffic="false"
        android:vmSafeMode="false">
        <activity
            android:name=".gui.MainActivity"
            android:allowEmbedded="true"
            android:allowTaskReparenting="false"
            android:alwaysRetainTaskState="false"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="false"
            android:colorMode="wideColorGamut"
            android:configChanges=""
            android:directBootAware="false"
            android:documentLaunchMode="none"
            android:enabled="true"
            android:excludeFromRecents="false"
            android:exported="true"
            android:finishOnTaskLaunch="false"
            android:hardwareAccelerated="true"
            android:immersive="true"
            android:label="@string/main_label"
            android:launchMode="standard"
            android:lockTaskMode="normal"
            android:maxAspectRatio="1.33"
            android:maxRecents="16"
            android:multiprocess="false"
            android:noHistory="false"
            android:permission=""
            android:persistableMode="persistRootOnly"
            android:relinquishTaskIdentity="false"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:showForAllUsers="false"
            android:stateNotNeeded="false"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="stateUnspecified|adjustUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.GameActivity"
            android:allowEmbedded="true"
            android:allowTaskReparenting="false"
            android:alwaysRetainTaskState="false"
            android:autoRemoveFromRecents="true"
            android:banner="@mipmap/ic_banner"
            android:clearTaskOnLaunch="false"
            android:colorMode="default"
            android:configChanges=""
            android:directBootAware="false"
            android:documentLaunchMode="none"
            android:enabled="true"
            android:excludeFromRecents="false"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:immersive="true"
            android:label="@string/game_label"
            android:launchMode="standard"
            android:lockTaskMode="normal"
            android:maxAspectRatio="1.33"
            android:maxRecents="16"
            android:multiprocess="false"
            android:noHistory="false"
            android:permission=""
            android:persistableMode="persistRootOnly"
            android:relinquishTaskIdentity="false"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:showForAllUsers="false"
            android:stateNotNeeded="false"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.AircraftWar"
            android:uiOptions="none"
            android:windowSoftInputMode="stateUnspecified|adjustUnspecified" />
        <activity
            android:name=".gui.ScoreboardActivity"
            android:allowEmbedded="true"
            android:allowTaskReparenting="false"
            android:alwaysRetainTaskState="false"
            android:autoRemoveFromRecents="true"
            android:banner="@mipmap/ic_banner"
            android:clearTaskOnLaunch="false"
            android:colorMode="default"
            android:configChanges=""
            android:directBootAware="false"
            android:documentLaunchMode="none"
            android:enabled="true"
            android:excludeFromRecents="false"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:immersive="true"
            android:label="@string/scoreboard_label"
            android:launchMode="standard"
            android:lockTaskMode="normal"
            android:maxAspectRatio="1.33"
            android:maxRecents="16"
            android:multiprocess="false"
            android:noHistory="false"
            android:permission=""
            android:persistableMode="persistRootOnly"
            android:relinquishTaskIdentity="false"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:showForAllUsers="false"
            android:stateNotNeeded="false"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.AircraftWar"
            android:uiOptions="none"
            android:windowSoftInputMode="stateUnspecified|adjustUnspecified" />
    </application>

</manifest>